<!--Header Start -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #563d7c; margin-bottom: 10px;">
  <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">
    <span style="color:#ffffff"> RELIANCE INDUSTRIES LIMITED </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
          <span style="color:#ffffff"> DASHBOARD </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/upload" routerLinkActive="active">
          <span style="color:#ffffff"> UPLOAD </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--Header End -->

<!--Body Start -->
<div class="container-fluid">
  
  <!-- Grid View Torque Start -->
  <div class="card" style="margin-bottom: 10px;">
    <div class="card-header">
      <h5 class="card-title">Torque Roadmap</h5>
    </div>
    <div class="card-body">
      <div id="TorqueContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
    </div>
  </div>
  <!-- Grid View Torque End -->

  <!-- Grid View SPP Start -->
  <div class="card" style="margin-bottom: 10px;">
    <div class="card-header">
      <h5 class="card-title">SPP Roadmap</h5>
    </div>
    <div class="card-body">
      <div id="SPPContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
    </div>
  </div>
  <!-- Grid View SPP End -->

  <!-- Grid View ECD Start -->
  <div class="card" style="margin-bottom: 10px;">
    <div class="card-header">
      <h5 class="card-title">ECD Roadmap</h5>
    </div>
    <div class="card-body">
      <div id="ECDContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
    </div>
  </div>
  <!-- Grid View ECD End -->            

</div>
<!--Body End -->