<!--Header Start -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #563d7c; margin-bottom: 10px;">
  <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">
    <span style="color:#ffffff"> RELIANCE INDUSTRIES LIMITED </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
          <span style="color:#ffffff"> DASHBOARD </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Template/TorqueTemplate.xlsx" download="TorqueTemplate.xlsx" target="_self">
          <span style="color:#ffffff"> TORQUE TEMPLATE </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../Template/SPPTemplate.xlsx" download="SPPTemplate.xlsx" target="_self">
          <span style="color:#ffffff"> SPP TEMPLATE </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../Template/ECDTemplate.xlsx" download="ECDTemplate.xlsx" target="_self">
          <span style="color:#ffffff"> ECD TEMPLATE </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--Header End -->

<!--Body Start -->
<div class="container-fluid">

  <!-- Upload Start -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card" style="margin-bottom: 10px;">
          <div class="card-header">
            <span class="card-title">Torque Data Upload</span>
          </div>
          <div class="card-body">              
              <input type="file" style="display: inline-block;" (change)="onchangeTorqueData($event)" placeholder="Please Upload  Torque Data" accept=".xlsx">
              <button mat-stroked-button color="primary" matTooltip="Upload Torque Data" (click)="onuploadTorqueData()"  style="margin: 5px;"> Upload </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="margin-bottom: 10px;">
          <div class="card-header">
            <span class="card-title">SPP Data Upload</span>
          </div>
          <div class="card-body">
            <input type="file" style="display: inline-block;" (change)="onchangeSPPData($event)" placeholder="Please Upload  SPP Data" accept=".xlsx">
            <button mat-stroked-button color="primary" matTooltip="Upload SPP Data" (click)="onuploadSPPData()"  style="margin: 5px;"> Upload </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="margin-bottom: 10px;">
          <div class="card-header">
            <span class="card-title">ECD Data Upload</span>
          </div>
          <div class="card-body">
            <input type="file" style="display: inline-block;" (change)="onchangeECDData($event)" placeholder="Please Upload  ECD Data" accept=".xlsx">
            <button mat-stroked-button color="primary" matTooltip="Upload ECD Data" (click)="onuploadECDData()"  style="margin: 5px;"> Upload </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Upload End -->

  <!-- Grid View Start -->
  <div class="container-fluid">
    <div class="row">
        <div class="card" style="margin-bottom: 10px;width:100%;">
          <div class="card-header">
              <span class="card-title">Torque Data</span>
          </div>
          <div class="card-body">
            <mat-table [dataSource]="arrTorqueDataPoints">
              <!-- Measurement Point Column -->
              <ng-container matColumnDef="FF">
                  <mat-header-cell *matHeaderCellDef> FF </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.FF}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Depth">
                  <mat-header-cell *matHeaderCellDef> Depth </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.Depth}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Torque">
                  <mat-header-cell *matHeaderCellDef> Torque </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.Torque}} </mat-cell>
              </ng-container>
    
              <mat-header-row *matHeaderRowDef="TorqueColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: TorqueColumns;"></mat-row>
            </mat-table>
            <button mat-stroked-button color="primary" matTooltip="Save Torque Data" (click)="SaveTorque()" style="margin: 5px;"> Save </button>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="margin-bottom: 10px;width:100%;">
          <div class="card-header">
              <span class="card-title">SPP Data</span>
          </div>
          <div class="card-body">
            <mat-table [dataSource]="arrSPPDataPoints">
              <!-- Measurement Point Column -->
              <ng-container matColumnDef="SPPPlot">
                  <mat-header-cell *matHeaderCellDef> SPPPlot </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.SPPPlot}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Depth">
                  <mat-header-cell *matHeaderCellDef> Depth </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.Depth}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="SPP">
                  <mat-header-cell *matHeaderCellDef> SPP </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.SPP}} </mat-cell>
              </ng-container>
    
              <mat-header-row *matHeaderRowDef="SPPColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: SPPColumns;"></mat-row>
            </mat-table>
              <button mat-stroked-button color="primary" matTooltip="Save SPP Data" (click)="SaveSPP()" style="margin: 5px;"> Save </button>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="margin-bottom: 10px;width:100%;">
          <div class="card-header">
              <span class="card-title">ECD Data</span>
          </div>
          <div class="card-body">
            <mat-table [dataSource]="arrECDDataPoints">
              <!-- Measurement Point Column -->
              <ng-container matColumnDef="ECDPlot">
                  <mat-header-cell *matHeaderCellDef> ECDPlot </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.ECDPlot}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Depth">
                  <mat-header-cell *matHeaderCellDef> Depth </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.Depth}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="ECD">
                  <mat-header-cell *matHeaderCellDef> ECDValue </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.ECD}} </mat-cell>
              </ng-container>
    
              <mat-header-row *matHeaderRowDef="ECDColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: ECDColumns;"></mat-row>
            </mat-table>
            <button mat-stroked-button color="primary" matTooltip="Save ECD Data" (click)="SaveECD()" style="margin: 5px;"> Save </button>
          </div>
        </div>
    </div>
  </div>
  <!-- Grid View End -->

</div>
<!--Body End -->